body{
    background-image: url(./img/degradado_naranja_jpg.jpg);
    text-align: center;
    display: flex;
    /* justify-content: space-around; */
}

div{
    background-color: orangered;
    width: 75%;
    height: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    /* float: left; */
}

h1{
    color: white;
}

img{
    width: 90%;
    /* height: 90%; */
    border-radius: 20px;
    border: 2px solid white;
}

#auto{
    border: 2px solid white;
    background-color: black;
    border-radius: 20px;
    margin-left: 10%;
}

#precio{
    background-color: black;
    color: white;
    border: 2px solid white;
    margin-left: 10%;
}