body{
    text-align: center;
    justify-content:space-between;
    display:flex;
    color: white;
    background-image: url(./img/degradado_naranja_jpg.jpg);
}

div{
    display: inline-block;
    border: 2px dashed white;
    width: 30%;
    height: 30%;
    padding: 15px;
    margin-top: 15px;
    background-color: rgb(226, 71, 14);
    border-radius: 10px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#precio{
    display: inline-block;
    border: 2px solid black;
    background-color: black;
    border-radius: 10px;
}